.userList {
  background-color: #f7f7f7;
  .inputSearch {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
    .search{
        border: 1px solid #dee2e6;
        padding: 4px 7px;
        border-radius: 5px;
        outline: none;
    }
  }
}
